* {
    box-sizing: border-box;
}

.main_section {
    padding-top: 45px;
    padding-bottom: 65px;
}

.w-225 {
    max-width: 225px;
}


.w-120 {
    width: 120px;
}

.h-120 {
    height: 120px;
}

.h-305 {
    max-width: 305px;
}

.block-3-4 > div {
    left: 0;
    right: 0;
    font-family: Georgia;
    background: white;

}

.block-3-4 > div:hover {
    background: #76c38f;
    color: white;
    transition: 0.2s;
}

.block-3-4 > div:hover .block-text {
    background: none;
    color: white;
    transition: ease-in-out;
}

.block-3-4 > div:hover .w-120 {
    background: white;
    transition: ease-in-out;
}

.block-3-4 :hover .w-120 p {
    color: black;
}
.add-hover-3-4 :hover .w-120 p {
    color: white;
}
.add-hover-3-4 > div:hover .w-120 {
    background: #333333;
}
.add-hover-3-4 > div:hover {
    background: #333333;
}
.bg-dark-grey {
    background: #333333;
}

.color-grey-light {
    color: #979797;
}

.color-white {
    color: white;
}

.block-3-4-title {
    font-size: 28px;
    line-height: 30px;
}

.block-3-4 {
    padding: 0;
}

.block-3-4 > div > div {
    left: 0;
    right: 0;
    margin: 12px auto;
    position: relative;
    text-align: center;
}

.pad-15-35 {
    padding: 15px 35px;
}

.font-size-12 {
    font-size: 12px;
}

.block-120 {
    top: calc((120px - 27px) / 2);
    font-size: 18px;
    position: relative;
}

.p-right-left-7 {
    padding-right: 7px;
    padding-left: 7px;
}

@media screen and (max-width: 992px) {
    .w-225 {
        max-width: 70% !important;
    }

    .pt-30-px-my {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 768px) {
    .w-225 {
        max-width: 100% !important;
    }

    .pt-30-px-my-up {
        margin-top: 30px !important;
    }
}
